@media only screen and (max-width: 1600px) {
    .who-are-we {
        img {
            max-width: 450px;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .who-are-we {
        img {
            max-width: 300px;
        }
    }
}

@media only screen and (max-width: 1260px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 1160px) {
    .who-are-we {
        span {
            max-width: 100%;
        }
        img {
            display: none;
        }
    }
}

@media only screen and (max-width: 920px) {
    .container {
        width: 90%;
    }
    .social-media {
        margin-top: 1em;
        padding: 0 1em;
    }
    .desktop-nav {
        display: none;
    }
    .open-nav {
        display: block !important;
    }
    header {
        display: flex;
        flex-direction: column;
        background: #fff;
        .site-logo {
            a {
                color: #000;
            }
        }
    }
    header.container {
        width: 100%;
    }
    .who-are-we {
        margin-top: 1em;
    }
    .our-servers {
        .server-list {
            flex-direction: column;
        }
    }
}